@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

footer {
  padding-top: 96px;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
footer .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}
footer .container .title h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}
footer .container .title p {
  font-weight: 400;
  font-size: 20px;
  color: #4b5563;
  text-align: center;
  width: 574px;
}
footer .container .footer_midle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .footer_midle a {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 36px;
  color: #111827;
  align-items: center;
}
footer .container .footer_midle a i {
  font-size: 32px;
  color: #4b5563;
  font-weight: 400;
}
footer .container .footer_sochials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 96px;
}
footer .footer-end {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFB;
  gap: 18px;
}
footer .footer-end h1 {
  font-weight: 400;
  font-size: 14px;
}

header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 9;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-logo {
  color: #111827;
  font-weight: 700;
  font-size: 30px;
}
header .nav-right {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 24px;
}
header .nav-right .line {
  height: 24px;
  width: 1px;
  background-color: #4b5563;
  opacity: 0.1;
}
header .nav-right ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .nav-right ul li a {
  color: #4b5563;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease;
}
header .nav-right ul li a:hover {
  color: #111827;
}
header .nav-right .nav-btns {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}
header .nav-right .nav-btns input {
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 15px;
  z-index: 5;
  transition: all 0.3s ease;
}
header .nav-right .nav-btns input:checked + i {
  color: #4b5563;
  transform: rotate(-360deg);
}
header .nav-right .nav-btns i {
  position: absolute;
  left: 0;
  color: #111827;
}
header .nav-right .nav-btns .download {
  background-color: #111827;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
header .nav-right .nav-btns .download:hover {
  background-color: #4b5563;
}

#intro {
  padding-top: 70px;
  display: flex;
  align-items: center;
  padding-bottom: 96px;
}
#intro .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#intro .container .intro_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
  padding-top: 96px;
}
#intro .container .intro_left-txt {
  width: 768px;
}
#intro .container .intro_left-txt h1 {
  font-weight: 700;
  font-size: 60px;
  color: #111827;
}
#intro .container .intro_left-txt p {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}
#intro .container .intro_left .intro_location {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
#intro .container .intro_left .intro_location small {
  display: flex;
  align-items: center;
}
#intro .container .intro_right {
  position: relative;
}
#intro .container .intro_right .mukhriddin {
  margin-right: 40px;
  transition: all 0.8s ease-in-out;
}
#intro .container .intro_right .mukhriddin:hover {
  transform: translateY(40px) translateX(40px) scale(0.97);
}
#intro .container .intro_right .mukhriddin-bg {
  position: absolute;
  left: 40px;
  z-index: -1;
  top: 40px;
}

#about {
  background-color: #F9FAFB;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}
#about .title {
  display: grid;
  place-content: center;
  padding-bottom: 48px;
}
#about .title h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}
#about .aboutpg {
  display: flex;
  justify-content: space-between;
}
#about .aboutpg .about_left {
  position: relative;
}
#about .aboutpg .about_left .mukhriddin {
  position: relative;
  z-index: 2;
  margin-right: 40px;
  transition: all 0.8s ease-in-out;
}
#about .aboutpg .about_left .mukhriddin:hover {
  transform: translateY(40px) translateX(-40px) scale(0.97);
}
#about .aboutpg .about_left .mukhriddin-bg {
  position: absolute;
  left: -40px;
  z-index: 1;
  top: 40px;
  mix-blend-mode: multiply;
}
#about .aboutpg .about_right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 584px;
}
#about .aboutpg .about_right h1 {
  font-weight: 600;
  font-size: 30px;
  color: #111827;
  padding-bottom: 8px;
}
#about .aboutpg .about_right p {
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}
#about .aboutpg .about_right ul {
  padding-left: 20px;
  list-style-type: disc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
#about .aboutpg .about_right ul li {
  color: #4b5563;
}

#skills {
  background-color: #ffffff;
  padding-top: 96px;
  margin-bottom: 96px;
}
#skills .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}
#skills .title h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}
#skills .title p {
  font-weight: 400;
  font-size: 20px;
  color: #4b5563;
}
#skills .teachs {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 48px;
}

#experience {
  background-color: #F9FAFB;
  padding-top: 96px;
  padding-bottom: 96px;
}
#experience .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#experience .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}
#experience .container .title h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}
#experience .container .title p {
  font-weight: 400;
  font-size: 20px;
  color: #4b5563;
}
#experience .container .experience_card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 896px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 12px;
}
#experience .container .experience_card h1 {
  font-weight: 600;
  font-size: 20px;
  color: #111827;
  margin-bottom: 16px;
}
#experience .container .experience_card ul {
  width: 384px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 16px;
}
#experience .container .experience_card ul li {
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}
#experience .container .experience_card small {
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}

#work {
  padding-top: 96px;
  padding-bottom: 96px;
}
#work .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}
#work .title h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}
#work .title p {
  font-weight: 400;
  font-size: 20px;
  color: #4b5563;
}
#work .works {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 5px 10px rgba(185, 184, 184, 0.2666666667);
  border-radius: 8px;
  overflow: hidden;
  width: 82%;
  margin-left: 100px;
  margin-bottom: 48px;
}
#work .works-right {
  width: 576px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 48px;
  gap: 24px;
}
#work .works-right h1 {
  font-weight: 600;
  font-size: 20px;
  color: #111827;
}
#work .works-right p {
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}
#work .works-right .work-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#work .works-right .work-tags h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}

#testimonials {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #F9FAFB;
}
#testimonials .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}
#testimonials .title h4 {
  padding: 4px 20px;
  color: #4b5563;
  border-radius: 12px;
  background-color: #E5E7EB;
}
#testimonials .title p {
  font-weight: 400;
  font-size: 20px;
  color: #4b5563;
}
#testimonials .card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 48px;
}
#testimonials .card-wrapper .card {
  background-color: #ffffff;
  padding: 48px;
  width: 373.33px;
  height: 400px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
#testimonials .card-wrapper .card p {
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}
#testimonials .card-wrapper .card span {
  text-align: center;
}
#testimonials .card-wrapper .card span h1 {
  font-weight: 600;
  font-size: 20px;
  color: #111827;
}
#testimonials .card-wrapper .card span p {
  font-weight: 400;
  font-size: 16px;
  color: #4b5563;
}/*# sourceMappingURL=style.css.map */