#experience {
    background-color: $color-light-grey;
    padding-top: 96px;
    padding-bottom: 96px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;

        .title {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding-bottom: 48px;
    
            h4 {
                padding: 4px 20px;
                color: $color-gray;
                border-radius: 12px;
                background-color: #E5E7EB;
            }
    
            p {
                font-weight: 400;
                font-size: 20px;
                color: $color-gray;
            }
        }

        .experience_card {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 896px;
            // height: 288px;
            padding: 32px;
            background-color: $color-light;
            border-radius: 12px;

            h1 {
                font-weight: 600;
                font-size: 20px;
                color: $color-darc;
                margin-bottom: 16px;
            }

            ul {
                width: 384px;
                list-style-type: disc;
                display: flex;
                flex-direction: column;
                gap: 4px;
                margin-left: 16px;

                li {
                    font-weight: 400;
                    font-size: 16px;
                    color: $color-gray;
                }
            }

            small{
                font-weight: 400;
                font-size: 16px;
                color: $color-gray;
            }
        }
    }


}

@media (prefers-color-scheme: dark){

    #experience {
        background-color: $color-darc;

        .title {

            p {
                color: $color-light !important;
            }
        }

        .experience_card {
            background-color: #1f2937 !important;


            h1, li, small {
                color: #ffffff !important;
            }
        }
    }
}

@media only screen and (max-width: 576px){
    #experience {
        
        .experience_card {
            width: 70% !important;
            padding: 0 20px;
            transform: scale(0.8);
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}