#work {
    padding-top: 96px;
    padding-bottom: 96px;

    .title {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding-bottom: 48px;

        h4 {
            padding: 4px 20px;
            color: $color-gray;
            border-radius: 12px;
            background-color: #E5E7EB;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            color: $color-gray;
        }
    }

    .works {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 5px 10px #b9b8b844;
        border-radius: 8px;
        overflow: hidden;
        width: 82%;
        margin-left: 100px;
        margin-bottom: 48px;

        &-right {
            width: 576px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 48px;
            gap: 24px;

            h1 {

                font-weight: 600;
                font-size: 20px;
                color: $color-darc;
            }

            p {

                font-weight: 400;
                font-size: 16px;
                color: $color-gray;
            }

            .work-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                h4 {
                    padding: 4px 20px;
                    color: $color-gray;
                    border-radius: 12px;
                    background-color: #E5E7EB;

                }
            }
        }
    }
}

@media (prefers-color-scheme: dark){
    #work{
        background: #030712;
        
        .title{
            p{
                color: #E5E7EB;
            }
        }

        .works{
            background-color: $color-darc;
            box-shadow: 0 0 0 0 ;
            .works-right{
                h1{
                    color: #E5E7EB;
                }
    
                .work-tags{
                    h4{
            
                        background: #4B5563;
    
                        color: #6B7280;
    
        
                
                    }
            }
            
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    #work {
        .works {
            width: 100%;
            margin-right: 50px !important; 
            display: flex;
            flex-direction: column;
            transform: translateX(-40px);
            &-right {

                // width: 400px;
                height: 200px;
                height: auto;
            }
        }
    }
}